/* Font family e colore di sfondo */

body {
margin: 10px auto;
padding: 0;
font-size: 10pt;
width: 95%;
background-color: #fcfcfc;
font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}  
  
a[data-toggle="tooltip"] {
     cursor:none;
}

 label    {
 width:150px;
 float: left;
 width: 150px;
 display: inline;
 margin-right: 10px;
 line-height: 22px;
 text-align: right;
 }
 label.short {
float: left;
width: 10%;
display: inline;
margin-right: 10px;
line-height: 12px;
text-align: right;
}

/* Classe per applicare un margine inferiore */

.margine-bottom {margin-bottom: 20px;}

/* Stili per sovrascrivere e modificare la Navbar di Bootstrap */
.navbar {
  border: none;
}

.navbar-nav {
  margin-top: 0;
}

.navbar-brand {
 display: inline-block;
 /*text-indent: -9999px; */
 width: 190px;
 height: 100px;
 /*background: url(../images/icofbot.png) center bottom no-repeat;    */
}                                             

.navbar-default {
 background-color: #fcfcfc;
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #357ebd;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #357ebd;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #357ebd;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle {
 border: 1px solid #357ebd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #357ebd;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #357ebd;
  border-bottom-color: #357ebd;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #357ebd;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

@media screen and (min-width: 768px) {
 .navbar-default .navbar-nav > li > a {
  border-bottom: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-top: 2px solid #357ebd;
  padding-top: 13px;
}
}

/* Stili per sovrascrivere e modificare i menu dropdown di Bootstrap */

.dropdown-menu {
 padding: 0 0;
 border-radius: 0;
 -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
 padding: 7px 10px;
 border-bottom: 1px solid #ccc;
}



/* Flexslider */

.flexslider {
 margin: 0 0 30px; 
 background: #f8f8f8; 
 border: 0;
 border-top: 3px solid #357ebd; 
 position: relative; 
 -webkit-border-radius: 0; 
 -moz-border-radius: 0; 
 -o-border-radius: 0; 
 border-radius: 0; 
}
.flex-control-paging li a {
 width: 12px; 
 height: 12px;
 padding: 2px;
 background: #357ebd; 
 cursor: pointer; 
 text-indent: -9999px; 
 -webkit-border-radius: 20px; 
 -moz-border-radius: 20px; 
 -o-border-radius: 20px; 
 border-radius: 20px; 
 box-shadow: none;
}
.slides li {position: relative;}
.flex-caption {
 position: absolute;
 top: 35%;
 right: 8%;
}
.flex-caption-text span {
 display: inline-block;
 font-size: 34px;
 font-weight: bold;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 margin: 2px 0;
 padding: 0 15px;
 background-color: rgba(53, 126, 189, 0.8);
}

@media screen and (max-width: 767px) {
 .flex-control-nav, .flex-control-pager, .flex-caption {display: none;}
}

/* Sezione progetti in evidenza */

.box-progetto {
 margin-bottom: 10px;
 padding: 15px;
 background-color: #86b6de;
 -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}
.box-progetto h3, .box-progetto h4 {margin-top: 0;}

/* Stile per sovrascrivere e modificare le immagini thumbnail di Bootstrap */

.thumbnail,
.img-thumbnail {
  border-radius: 0;
  border: 1px solid #bbbbbb;
}

/* Stili per sovrascrivere e modificare i bottoni standard di Bootstrap */

.btn {
  border: 01px solid #bbbbbb;
  border-radius: 4px;
  padding: 6px;
  margin: 4px;
}
.btn:focus {
  outline: 0;
}


/* Testata */

.header-sezione-primary {
  border-bottom: 2px solid #337ab7 !important;
}
.header-sezione-danger {
  border-bottom: 2px solid #c9302c !important;
}

@media screen and (min-width: 768px) {
 .header-sezione {
 margin-left: 0;
 margin-right: 0; 
 }
}
/* Lavoro in evidenza */

.box-lavoro-evidenza {
 margin: 15px 0;
}
.box-lavoro-evidenza h3 {margin-top: 0}

/* Stile per modificare e sovrascrivere i blockquote di Bootstrap */

blockquote {
 border-left: 5px solid #357ebd;
}

/* Pannelli dell'accordion basati sui panel di Bootstrap */

.panel-carousel {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-carousel-heading {
  margin: -15px -15px 15px;
  padding: 10px 15px;
  font-size: 17.5px;
  font-weight: 500;
/*  background-color: #357ebd;  vedi:.fb-bgcolor-.....   */
  color: #fff;
  border-bottom: 1px solid #dddddd;
}
.panel-carousel-footer {
  margin: 15px -15px -15px;
  padding: 10px 15px;
  background-color: #ecf7ff;
  border-top: 1px solid #dddddd;
}

.panel-carousel-control {
  font-size: 16px;
}
.panel-carousel-control:hover,
.panel-carousel-control:focus {
  text-decoration: none;
}

.tab-content {padding: 15px 0;}

/* Tabelle servizi */

.servizi {
 margin-top: 15px;
 text-align: center;
}
.servizi-titolo {
 background-color: #5cb85c;
}
.servizi-prezzo {
 background-color: #5cb85c;
 color: #fff;
}
.servizi-opzione {
 background-color: #dff0d8;
}
.servizi-footer {
 background-color: #eeeeee;
}

.servizi-portfolio {
 margin-top: 15px;
 text-align: center;
}
.servizi-portfolio-titolo {
 background-color: #5bc0de;
}
.servizi-portfolio-prezzo {
 background-color: #5bc0de;
 color: #fff;
}
.servizi-portfolio-opzione {
 background-color: #a4eaff;
}
.servizi-portfolio-footer {
 background-color: #eeeeee;
}

/* Pulsanti acquisto servizi */

.btn-round-bottom {
 border-bottom-right-radius: 4px;
 border-bottom-left-radius: 4px;
}

/* Footer */

footer {
background-color: #fff;
 padding: 10px;
/* color: #fff;  */
}
footer a, footer a:hover {color: #5cb85c;}
#footer-copy {
 padding: 10px 0 0 0;
 border-top: 1px solid #fff;
}


/* Stile per modificare e sovrascrivere l'aspetto degli input di Bootstrap */

.form-control {
  height: 32px;
  padding: 6px 12px;
  color: #333333;
  border-radius: 0;
}



/* Testata portfolio */

.header-portfolio {
 background-color: #5cb85c;
 padding: 10px 15px;
 border-bottom: 2px solid #357ebd;
}

.header-portfolio > h2 {
 margin-bottom: 0;
 margin-top: 0;
 color: #fff;
}

/* Stile per modificare e sovrascrivere l'aspetto il componente Breadcrumb di Bootstrap */

.breadcrumb {
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  font-size: 16px;
}

.breadcrumb > li + li:before {
  color: #fff;
}

.breadcrumb > .active {
  color: #fff;
}



/* Modifica del componente thumbnails per il portfolio */

.portfolio-filtro {margin-top: 15px;}

.portfolio-thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 15px 0;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #eeeeee;
  border: 1px solid #5cb85c;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.portfolio-thumbnail > img,
.portfolio-thumbnail > a > img,
.portfolio-img-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.portfolio-thumbnail:hover,
.portfolio-thumbnail:focus {
  border-color: #357ebd;
}

.portfolio-thumbnail > img {
  margin-right: auto;
  margin-left: auto;
}

.portfolio-thumbnail .caption {
  padding: 9px;
  color: #333333;
}

/* Stili per sovrascrivere e modificare il componente Pagination di Bootstrap */

.pagination > li > a {
  background-color: #5cb85c;
}


.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
  color: #999999;
  background-color: #eeeeee;
  border-color: #dddddd;
}


/* Titoli pagina contatti */

.contatti-titoli {
 margin-bottom: 15px;
 border-bottom: 2px solid #357ebd;
 padding-bottom: 10px;
}

/* Stili per sovrascrivere e modificare il componente Accordion/collapse di Bootstrap */

.panel {
  border: 1px solid #dddddd;
  border-radius: 0;
}

.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-title > a {
  color: #fff;
  text-decoration: none;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-default > .panel-heading {
  background-color: #5cb85c;
  border-color: #dddddd;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}
.fa-1x {
	font-size: 1em
}
.well {
     margin-top: 10px;
}
/* colore-sfondo template */
.fb-bgcolor-danger    {
     background-color:#c9302c !important ;
}
.fb-bgcolor-primary    {
     background-color:#337ab7 !important ;
}
.fb-bgcolor-success    {
     background-color:#5cb85c !important ;
}
.fb-bgcolor-info    {
     background-color:#46b8da !important ;
}
.fb-bgcolor-warning    {
     background-color:#ec971f !important ;
}
.fb-bgcolor-default    {
     background-color:#ffffff !important ;
}



/* colore template */
.fb-color-danger    {
     color:#a94442 !important;
}
.fb-color-primary    {
     color:#357ebd !important;
}

/* totop */
.fb-totop      {
     bottom: 1em;
     right: 2em;
     width: 55px;
     height: 55px;
     position: fixed;
     display: block;
     background-color: #cacaca;
     padding: 10px 0 0 13px;
     border:1px solid #337eb7;
     border-radius:4px ;
}
fieldset  {
     background: #F5F5F5;
     border: 1px solid #E3E3E3;
     border-radius: 4px;
     padding: 5px;
     margin-bottom: 5px;
}
legend    {
     color: #a52a2a;
     border-bottom:none !important;
     margin-bottom:0px  !important;
     padding: 0 5px;
   /*  width: fit-content !important;  */
     font-weight: bold;
     font-size: inherit;
     background-color: #e1e1e1;
}
/* Footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
#footer {
 /*   position: absolute;
  bottom: 0;
  width: 100%;
 Set the fixed height of the footer here */
  height: 200px;
}
div.primary {
  /* color overlay */
   
  background:    linear-gradient(rgba( 51, 122, 183, 1),rgba(191, 225, 252, 0.45)
    )
    }
/* Custom footer CSS
-------------------------------------------------- */

.container {
  width: auto;
/*  max-width: 680px;    */
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #ffffff;
}

/* proporzioni per video  */
#wrapp {
  height: 0;
  margin-bottom: 16px;
  margin-left: 30px;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 25px;
  position: relative;
}

#player {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}                       
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
div.fb-table-scroll     {
  /*   height: 450px;  */
     float: left;
     overflow-y: scroll;
}
td.center {
     text-align: center;
}
.back-to-top {
cursor: pointer;
position: fixed;
bottom: 0;
right: 20px;
display:none;
}
/* mappa di login */
img.login {
	margin-right: 40px;
}
.red {
     color: #ff0000;
}
.blue {
	background: #DCDCDC;
}

div.widget {
	float: left;
	margin: 20px;
	border: 2px solid #AAAAAA;
	border-radius: 5px;
	background: #CCCCCC;
     width: 100%;
}
div.widget:hover {
  	box-shadow: 3px 5px 10px rgba(0,0,0,0.75);       
	border-bottom-right-radius: 70% 25px;
     transition-property: border-bottom-right-radius;
     transition-duration: .5s;
     background: #CCCCCC;
}
div.footer {
     background:#CCCCCC; ;
     display: block;
    width: 100%;      
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;

}   
.space-after  {
     margin-top: 5px;
}
.space-before  {
     margin-bottom: 5px;
}

input.titolo {
/*border: 1px solid #ffffff;  */
background: inherit;
color: blue;
border-width: 0px;
}

input.titolo_b {
/*border: 1px solid #ffffff; */
background: inherit;
color: blue;
font-weight: bold;
border-width: 0px;
}

input.nobord {
border: none;
/*  vertical-align: bottom;   */
width: 25px;
padding: 0 3px;
}
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	filter: alpha(opacity=100);
	opacity: 1;
	line-break: auto
}
.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9
}
.tooltip.top {
	padding: 5px 0;
	margin-top: -3px
}
.tooltip.right {
	padding: 0 5px;
	margin-left: 3px
}
.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px
}
.tooltip.left {
	padding: 0 5px;
	margin-left: -3px
}
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 4px
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
/* HR senza margini verticali  */
hr.slim   {
 margin-bottom: 0px;
 margin-top: 0px;
 background-color: #aaaaaa;
 height: 1px;
}
/*  alert senza margini  */
.alert    {
margin-bottom: 0px !important;
}
/* navigatore */
ul.nav2 {
float: left;
margin: 0;
padding: 0;
background: gainsboro;
list-style: none;
font: 1em Verdana;
font-weight: bold;
width: 90%;
}

ul.nav2 li {
float: left;
margin: 0;
padding: 0;
color: black;
}
ul.nav2 li a{
color: red;
border-right: 0px;
}

ul.nav2>li>a{
color: darkblue;
border-right: 0px;
font-weight: normal !important;
background: transparent !important;;
}

ul.nav2 li a:hover{
background: black;
}

ul.nav2 a:link, 
ul.nav2 a:visited {
display: block;
padding: 4px 16px;
/*color: black;*/
text-decoration: none;
}
ul.nav2 a:hover, 
ul.nav2 a:focus, 
ul.nav2 a:active {
background-color: gainsboro;
color: deeppink;
text-decoration: none;
}  
ul.nav2 li:hover ul.liv2 {
display: block;
position: absolute;
z-index: 1;
width: 13%;
padding: 0;
margin: 0;
background: gainsboro;
}
/* secondo livello */
ul.liv2 {
display: none;
position: absolute;
z-index: 1;
width: 13%;
padding: 0;
margin: 0;
background: gainsboro;
}
ul.liv2 li {
list-style: none;
margin: 0;
padding: 0;
width:100%;
}
ul.liv2>li>a{
color: white;
border-right: 0px;
font-weight: bold;
background: #444444;
}
/* autocomplete scrollabile */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
h1.toolbar	{
font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:14pt;	
font-weight: bold;
}